{
  "presets": [
    // env项是借助插件babel-preset-env,下面这个配置说的是babel对es6,es7,es8进行转码，
    [
      "env", 
      // 设置amd,commonjs这样的模块化文件，不进行转码,
      // 这项必须有,否则造成很多问题,包括HMR不生效
      { "modules": false },
    ],
    // 下面这个是不同阶段出现的ES语法，包含不同的转码插件
    "stage-0",
    // 支持React语法
    "react",
  ],
  "plugins": [
    // HMR插件
    "react-hot-loader/babel"
  ]
}